/* Films.css */
.films {
    color: white;
    margin-left: 20px;
    padding-top: 80px;
}

.genre-section::-webkit-scrollbar {
    display: none;
}

.films-list {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 10px;
    padding-left: 20px;
}

.film-card {
    max-height: 240px;
    padding-bottom: 25px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms; /* Adjust based on desired card width */
}

.film-card img {
    max-height: 200px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
}

.film-card:hover {
    opacity: 1;
    transform: scale(1.08);
}

.film-card-content {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
}
